[submodule "lib/tor"]
	path = external/tor
	url = git@github.com:torproject/tor.git
[submodule "lib/libressl"]
	path = external/libressl
	url = git@github.com:libressl-portable/portable.git
[submodule "lib/libevent"]
	path = external/libevent
	url = git@github.com:libevent/libevent.git
[submodule "lib/zlib"]
	path = external/zlib
	url = git@github.com:madler/zlib.git
